
.section-title {
font-weight: bold;
margin: 2.5rem 0 2.5rem 2rem;
font-size: 1.5rem;
}
.series-wrapper{
display: flex;
margin-left: 2rem;
overflow-x: auto;
scroll-snap-type: x mandatory;
    .serie{
        margin-right: 1rem;
        scroll-snap-align: start;
        }
    }