$linkColor: white;
$fontColor: white;

$buttonColor: #ED0A1D;
$buttonColor2:white;
$headerHeight:65px;
$headerWidth:100vw;


*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    }
body{
    color: $fontColor;
}
.header-wrapper{
    background-image: url(../assets/portada.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
.header{
    display: flex;
    position: fixed;
    align-items: center;
    margin: 1rem 0 0 2rem;
    max-height: $headerHeight;
    max-width: $headerWidth;
    justify-content: left;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.801218);
    .home-link{
        .courflix-logo{
        margin-right: 2rem;
    }
    }
.navbar{
    .nav-link{
    margin-right: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
        }
    }
}
}
